.portada{
    background-color:purple;
    background-image: url(../img/viajes.jpg);
    background-size: 100% auto ;
    height: 600px;
    padding-top: 0 ;
    padding-bottom: 0 ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    &__texto{
        padding: 15rem 2rem;
        background-color: $primero;
        display:inline-block;
        width: 43%;
        box-sizing: border-box;
        height: 100%;
        vertical-align: top;
       
        & h1{
            line-height: 1;
        }
    }
    &__formulario{
        display:inline-block;
        box-sizing: border-box;
        height: 100%;
        vertical-align: top;
        margin-left:15rem;
        padding: 5rem 2rem;

    }
}

.formularioDestino{
    background-color: $primero;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: 5px;
    & h3{
        margin: 10px;    }
    
}

.group{
  
    margin:0.5rem;
    &__label{
    
        display: block;
        text-align: center;
    }

    &__input{
        display: block;
        width: 100%;
        padding: 0.1rem;
        text-align: center;
        border-radius: 0.3rem;
    }
}
